{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/login-bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <script>window.onload = function () {
                alert("{{ message }}")
            }</script> {% endif %}
    {% endfor %}

{% endif %}
    <form class="form-signin" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <table class="tabular">
      {{ form.as_table }}
            </table>
      <div class="small">
          <p>{{ message }}</p>
          <p>You are new? <a href="{% url 'accounts:signup' %}">Sign Up here</a></p>
          <p>Forgot your password? <a href="{% url 'reset_password' %}">Click here</a></p>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </body>
</html>