{% extends 'base.html' %}
{% load static %}
{% block contents %}


<form class="center" enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h4 class="modal-title">Profile:</h4>
     <div class="modal-body">
         <table>
      {{ form.as_table }}
             </table>

    <a href="{% url 'todo:main_todo' %}">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </a>
    <button type="submit" class="btn btn-primary" formnovalidate="formnovalidate">Update</button>
  </div>
  </div>



</form>
{% endblock %}